.raceTable {
  color: white;
  background: url("https://i.ytimg.com/vi/4CTXT90IFgQ/maxresdefault.jpg");
  background-size: cover;
  border: none;
  float: left;
}

.raceTable th {
  height: 40px;
  text-align: center;
  color: rgb(240, 35, 35);
  border: none;
}

.raceTable td {
  text-align: center;
  border: none;
  padding: 4px;
}

.raceTable th:nth-child(2) {
  text-align: left;
}

.raceTable td:nth-child(2) {
  text-align: left;
}

.raceTable tr:nth-child(even) {
  background-color: rgba(48, 44, 44, 0.733);
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: rgb(240, 35, 35);
}
