body {
  background-image: url("./assets/317664.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  background-color: rgb(136, 136, 136);
  font-family: "F1BoldRegular", Helvetica, sans-serif;
}

#app {
  max-width: 1000px;
  /* margin: 0 auto; */
}

nav {
  padding: 20px 0 10px 0;
}

.yearSelect select {
  /* position: relative; */
  padding: 5px;
  margin-top: 60px;
  float: right;
  color: red;
  font-size: 20px;
  text-align: center;
  letter-spacing: 4px;
  line-height: 8px;
  background-color: transparent;
  border: none;
}

#logo {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
}
