.raceTable {
  color: white;
  text-align: left;
  background: url("../../assets//tableBckgr.jpg");
  background-size: auto;
  border: none;
}

.raceTable th {
  height: 40px;
  text-align: left;
  color: rgb(240, 35, 35);
  border: none;
}

.raceTable td {
  text-align: left;
  border: none;
  padding: 4px;
}

.raceTable td:nth-child(2) {
  text-align: left;
}

.raceTable th:nth-child(2) {
  text-align: left;
}

.raceTable tr:nth-child(even) {
  background-color: rgba(48, 44, 44, 0.733);
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: rgb(240, 35, 35);
}
